<table class="table" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">TotalPrice</th>
        <th>Remove Item</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let pr of ListsingleProducts">
        
        <td>{{pr.products.PName}}</td>
        <td>{{pr.products.Price}}</td>
        <td>{{pr.count}}</td>
        <td>{{pr.price}}</td>
        <td><button class="btn btn-outline-primary" (click)="deleteProduct(pr.products.id)"> Delete</button></td>
      </tr>
      </tbody>
      </table>
      <div class="col">
        <label for="">TotalPrice:</label>
      <input type="text" class="form-control w-50" name="cost" id="cost" #totalcost readonly>
      <button (click)="TotalOrderPrice()" class="btn btn-primary p-2 m-2 w-25">Check Out</button>
      </div>
       -->