.card
{
    background-color: rgb(231, 228, 190);
    .card-title
    {
        color: rgb(6, 6, 66);
    }
    button
    {
        background-color: rgb(6, 6, 66);
        color:  rgb(231, 228, 190);
    }
}