
    <!--start About-->
<div class="About" id="About">
    <div class="container">
        <div class="About-content">
        <div class="image">
            <img src="assets/about.jpg" alt="about">
        </div>
        <div class="text">
        <p> A book Site can include everything that would be in a preface: how the book came about, the scope of the book, why the book was written, and most importantly, why a reader should choose your book. However, an introduction also supplements the subject matter of the book</p><hr>
    <p>
        Books often have an introduction before the first chapter of the book. This text, which is essentially a short chapter, is meant to provide information on what the book is going to be about. It gives background information, talks about why the book is important and gives an overview of the contents</p>    
</div>    
</div>
    </div>

</div>
<!--end About-->

